.is-smooth-text {
	color: #666;
}

.is-small-text {
	font-size: 0.8125em; /* 13px ÷ 16px */
}

.is-featured:before {
	border-radius: 0.25em; /* 4px ÷ 16px */
	display: inline-block;
	margin-right: 0.5em; /* 8px ÷ 16px */
	padding: 0.3125em; /* 5px ÷ 16px */
	color: #FFF;
	background-color: #090;
	font-size: 0.625em; /* 11px ÷ 16px */
	text-decoration: none;
	line-height: 1em; /* 16px ÷ 16px */
	content: 'DESTAQUE';
}