---
layout: base
title: Blog Leandro Alvares da Costa
type: home
description: Artigos sobre gestão e desenvolvimento de software, empreendedorismo e liderança educadora
---
<h1>Blog Leandro Costa</h1>
<p>
  Artigos sobre gestão e desenvolvimento de software, empreendedorismo e liderança educadora.
  <br>
  Saiba mais <a href="./sobre">sobre mim</a>. Seja bem-vindo!
</p>
<h2>Últimos posts</h2>
<ul>
  {% for post in site.posts %}
  	{% if post.draft != true %}
    	<li>
    	  <span class="is-smooth-text is-small-text">{{ post.date | date_to_string }}</span>
    	  <br>
        <a href="{{ post.url }}" class="{{ post.class }}">{{ post.title }}</a>
      </li>
    {% endif %}
  {% endfor %}
</ul>