---
lang: en
layout: base
title: Leandro Alvares da Costa
type: home
description: Agile software development, management and entrepreneurship.
---
<h1>Hello :)</h1>
<p>
  I'm <strong>Leandro Alvares da Costa</strong>, also known as <strong>Ladc</strong>, and this is my personal site.
  <br>
  Here I will write about software development, management and entrepreneurship.
  <br>
  You can see more <a href="./about-me">about me here</a>.
</p>
<h2>Last posts</h2>
<ul>
  {% for post in site.posts %}
  	{% if post.draft != true %}
    	<li>
    	  <span class="is-smooth-text is-small-text">{{ post.date | date_to_string }}</span>
    	  <br>
        <a href="{{ post.url }}" class="{{ post.class }}">{{ post.title }}</a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
