---
layout: base
---
<article>
  <h1>{{ page.title }}</h1>
  {{ content }}
  <br>
  <p class="is-smooth-text">
    Escrito em
    {% if page.originalDate %}
    	<strong>{{ page.originalDate | date_to_string }}</strong> <span class="is-small-text">(atualizado em {{ page.date | date_to_string }}</span>
    {% else %}
      <strong>{{ page.date | date_to_string }}</strong>
    {% endif %}
    por <a href="http://twitter.com/leandroadacosta" target="_blank">Leandro A. da Costa</a>
  </p>
  <footer class="article-footer">
    <p>
      <a href="{{ site.url }}/" class="btn">Ver mais posts</a>
    </p>
  </footer>
</article>