---
layout: base
---
<article>
  <h1>{{ page.title }}</h1>
  {{ content }}
  <br>
  <p class="is-smooth-text">
    Written in
    {% if page.originalDate %}
    	<strong>{{ page.originalDate | date_to_string }}</strong> <span class="is-small-text">(updated in <time datetime="{{ page.date | date: "%Y-%m-%d" }}" pubdate>{{ page.date | date_to_string }}</time></span>
    {% else %}
      <strong><time datetime="{{ page.date | date: "%Y-%m-%d" }}" pubdate>{{ page.date | date_to_string }}</time></strong>
    {% endif %}
    by <a href="http://twitter.com/leandroadacosta" target="_blank">Leandro Alvares da Costa</a>
  </p>
  <footer class="article-footer">
    <p>
      <a href="{{ site.url }}/" class="btn">More posts</a>
    </p>
  </footer>
</article>
